.container {
    height: 45px;
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 4px;
}

.text {
    font-weight: 700;
    margin-right: 16px;
    color: #fafafa;
}

.userBtn {
    width: 80px;
    height: 30px;
    font-weight: 500;
}

.userBtn:hover{
    background-color: #ed0e0e;
    color: rgba(252, 250, 250, 0.411);
    border: none;
}
